<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/custom.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
    <ul class="navbar-nav ml-auto">
        {% if id %}
            <li class="nav-item"><a class="nav-link text-white" href="#">{{ lastname }} {{ firstname }}</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="../user/logout">Se déconnecter</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link text-white" href="../user/register">Inscription</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="../user/login">login</a></li>
        {% endif %}
    </ul>
</nav>
{% block body %}
{% endblock %}
<script src="../js/jquery.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.bundle.js"></script>
<script src="../js/add-task.js"></script>
<script src="../js/delete-task.js"></script>
<script src="../js/edit-task.js"></script>
</body>
</html>