{% extends 'template.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <form class="user_form" action="" method="POST">
            <h1>Inscription</h1>
                <div class="form-group">
                    {% if error_lastname %}
                        <div class="btn btn-danger">
                            {{ error_lastname }}
                        </div>
                    {% endif %}
                    <input type="text" name="lastname" class="form-control" placeholder="ajouter votre nom">
                </div>
                <div class="form-group">
                    {% if error_firstname %}
                        <div class="btn btn-danger">
                            {{ error_firstname }}
                        </div>
                    {% endif %}
                    <input type="text" name="firstname" class="form-control" placeholder="ajouter votre prénom">
                </div>
                <div class="form-group">
                    {% if error_email %}
                    <div class="btn btn-danger">
                       {{ error_email }}
                    </div>
                    {% endif %}
                    <input type="text" name="email" class="form-control" placeholder="ajouter votre email">
                </div>
                <div class="form-group">
                    {% if error_password %}
                        <div class="btn btn-danger">
                            {{ error_password }}
                        </div>
                    {% endif %}
                    <input type="password" name="password" class="form-control" placeholder="ajouter votre mot de passe">
                </div>
                <div class="form-group">
                    <input type="password" name="password_verif" class="form-control" placeholder="confirmer votre mot de passe">
                </div>
                <input  type="submit" name="submit" class="btn btn-success" value="S'inscrire">
        </form>
    </div>

{% endblock %}